body {
    font-family: "Crimson text", serif; /* define a font de todo texto dentro do body(corpo do texto) */
    background-color: #F2FFFC; /* define a cor*/
    font-size: 120%; /* aumenta a fonte em 120° */
    line-height: 1.5;
}

main h1{ /* definições dos h1 dentro do main*/
    background-color: #851944; /* define a cor do fundo do h1*/
    color: #FFF;
    text-align: center; /* centraliza o texto */
    padding: 25px;
    margin: 0px;
    font-size: 60px;
}

main a { /* definição dos links dentro do main*/
    color: #851944; /* define a cor dos links*/
    border-bottom: 10px solid black;
}

h1, h2{ /* definiç~~oes gerais dos h1 e h2 */
    font-family: "Open sans Condensed", serif; /*define o tipo da fonte do texto*/
}

p{ /* definições dos paragrafos */
    text-align: justify
    margin: 20px 0;
}

blockquote { /*definições do bloco de código */
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 0px;
    box-sizing: content-box;
    border: 10px solid #C2CCCA;
    margin: 20px 40px;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

aside h1{
    font-size: 30px;
    margin-bottom: 25px;
}

footer {
    background-color: #000;
    color: #F2FFFC;
}

nav a {
    color: #F2FFFC;
}

div{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

main div{
    padding: 30px 0;
}

ul{
    list-style-type:none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h2{
    font-size: 30px;
}

li {
    display: inline;
}
