/**
* SOBRE: display: inline e inline-block
* Quaisquer elementos inline em sua página, ocuparão somente o espaço necessário para sua exibição. Não será possível
* adicionar espaçamento (padding ou margin) nem definir valores para sua altura (height) e largura (width).
* já elementos que sejam block, permitem o redimensionamento tanto da largura quanto
* de sua altura. Estes, no entanto, não permitem elementos vizinhos, pois "ocupam" toda a largura 
* da linha em que estão inseridos.
* e inline-block Elementos que tenham essa definição permitem que outros elementos sejam definidos ao seu lado, e 
* permitem o redimensionamento tanto da largura quanto de sua altura. 
************************************************************************************ 
* Margin / Margem - Espaçamento fora do conteúdo.
* Padding / Preenchimento - Espaçamento dentro dos limites do conteúdo.
**/

header {
    background-color: #bbbbbb;
    padding: 20px 0;
    /*vertical-horizontal*/
}

.caixa {
    width: 940px;
    /*width largura*/
    position: relative;
    margin: 0 auto;
    /* primeiro vertical depois horizontal*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}