/**
* SOBRE: display: inline e inline-block
* Quaisquer elementos inline em sua página, ocuparão somente o espaço necessário para sua exibição. Não será possível
* adicionar espaçamento (padding ou margin) nem definir valores para sua altura (height) e largura (width).
* já elementos que sejam block, permitem o redimensionamento tanto da largura quanto
* de sua altura. Estes, no entanto, não permitem elementos vizinhos, pois "ocupam" toda a largura 
* da linha em que estão inseridos.
* e inline-block Elementos que tenham essa definição permitem que outros elementos sejam definidos ao seu lado, e 
* permitem o redimensionamento tanto da largura quanto de sua altura. 
************************************************************************************ 
* Margin / Margem - Espaçamento fora do conteúdo(Espaçamento externo).
* syntax: margin: 0 0 0 0px; topo | direita | inferior | esquerda  
* Padding / Preenchimento - Espaçamento dentro dos limites do conteúdo (Expaçamento interno entre a borda e o conteudo).
* padding syntax: superior | direita | inferior | esquerda 
* Width - width determina a largura da área de conteúdo de um elemento. A área de conteúdo fica 
* dentro do preenchimento, da borda, e da margem de um elemento. 
* box-sizing: border-box - garante que os itens fiquem dentro do espaçamento de 30%,
* As propriedades de largura (width) e de altura (height) incluem o tamanho padding size e a 
* propriedade border, mas não incluem a propriedade margin.
     
************************************************************************************
* Static:
* Esse é o valor default de todo elemento HTML, ou seja, ele vai seguir o fluxo comum da sua página.
* Relative:
* Utilizando o position Relative o elemento passa a aceitar as propriedades Top, Bottom, Left e Right. 
* Com elas você pode alterar o posicionamento do elemento.
* Absolute:
* O position Absolute é um grande quebra galho no Css. Com ele você pode 
* posicionar qualquer elemento de acordo com o elemento pai que tenha um position diferente de static.
* (no caso o elemento pai usado nesse progeto foi uma <div> que esta definida pela class caixa ).
**/

header {
    background-color: #bbbbbb;
    padding: 20px 0;
    /*vertical-horizontal*/
}

.caixa {
    width: 940px;
    /*width largura*/
    position: relative;
    margin: 0 auto;
    /* primeiro vertical depois horizontal*/
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    /*quando o mouse estiver encima dos links no menu de navegação*/
    color: #c78c19;
    text-decoration: underline;
}

/********************* MAIN *****************************/

.produtos {
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 50px 0px;
    color: #000000;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    /* tamanho, tipo e cor da borda  */
    border-radius: 10px;
    /*aredonda a borda*/
}

/*
* houver quando passa o mouse por cima do elemento muda
* active quando o usuario clica no elemento
*/

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:active {
    border-color: #088c19;
}

.produtos li:hover h2 {
    font-size: 35px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produto-descricao {
    font-size: 18px;
}

/*------------------- Rodapé ------------------*/

footer {
    text-align: center;
    background: url(bg.jpg);
    /*colocando uma img de fundo*/
    padding: 40px 0px;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0px;
}

main {
    width: 940px;
    margin: 0 auto;
}

/*----------------------- página contato -------------------------*/

form {
    /* topo | direita | inferior | esquerda */
    margin: 40px 0px;
}

/*esta aplicando ao form radios*/

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    color: #ffffff;
    background-color: #FFA500;
    font-size: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    /*canto arredondado*/
    transition: 1s all;
    /* define o tempo de transição da cor de fundo do botão enviar*/
    cursor: pointer;
    /*muda a seta do mouse para o mão quando ela esta encima do botão enviar*/
}

/*ou .enviar:houver e .enviar:activi */

.enviar:hover {
    transform: scale(1.2);
    background-color: darkorange;
    
}

/* tabela da pagina contato*/
table {
    margin: 20px 0 40px;
}

thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px
}